:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;

    --header-height: 190px;
    --header-top: 49px;
    --header-bottom: 90px;
    --header-menu: calc(var(--header-height) - var(--header-top) - var(--header-bottom));

    --search-text: 50px;
    --search-btn: 50px;

    --navbar-height: 30px;  
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    /* 62.5% ~ 10px */
    font-size: 62.5%; 
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive - 12 column*/

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: calc(2/12 * 100%);
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc(2/10 * 100%);
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: calc(10/12 * 100%);
}


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s; 
}

/* Button style */
.btn {
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px; 
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);   
    display: inline-flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn linear 0.1s;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    cursor: default;
    /* filter: brightness(80%); */
    background-color: #cccccc;
    color: #666666;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials-google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__socials-facebook 
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 36px;
}

/* Selection */

.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

	&:hover .select-input__list {
		display: block;
	}

	.select-input__label {
		font-size: 1.4rem;
	}

	.select-input__icon {
		font-size: 1.4rem;
		color: rgba(131,131,131);
	}

	.select-input__list {
		position: absolute;
		left: 0;
		right: 0;
		top: calc(100% + 2px);
		border-radius: 2px;
		background-color: var(--white-color);
		padding: 8px 16px;
		margin: 0;
		list-style: none;
		display: none;

		&::after {
			position: absolute;
			content: "";
			display: block;
			top: -4px;
			left: 0;
			width: 200px;
			height: 5px;
		}
	}

	.select-input__link {
		font-size: 1.4rem;
		color: var(--text-color);
		text-decoration: none;
		display: block;
		padding: 4x 0;

		&:hover {
			color: var(--primary-color);
		}
	}
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

	.pagination-item {
		margin: 0 12px;
	}
}


.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
    font-weight: 300;
}


