/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
* {
  box-sizing: border-box;
}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}
.wrap{
	width:82%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
/*start orders account*/
.wrap-orders{
	width:90%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.main-orders-account{
	height: 575px;
	margin: 4% 0;
}
.orders{
	display: block;
}
.orders .vertical-menu{
    border: 1px solid #ebebeb;
    margin-bottom: 60px;
    padding: 20px 30px;
    width: 25%;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 1px darkgray;
    box-sizing: border-box;
    float: left;
}
.orders .vertical-menu ul li{
	border-bottom: 1px dashed darkgray;
    list-style-type: none;
    padding: 6px 0;
    margin: 5px 0 5px 0;
}
.orders .vertical-menu .dashboard span{
	text-transform: uppercase;
	font-weight: bold;
	cursor: context-menu;
}
.orders .vertical-menu .dashboard .fa-tachometer-alt{
	margin-right: 5px;
}
.orders .vertical-menu a{
	color: #000;
}
.orders .vertical-menu ul li.active a{
	color:#57C5A0;
}
.orders .orders-account-content{
    margin-bottom: 60px;
    padding: 20px 0;
    width: 70%;
    height: auto;
    float: right;
}
.title{
	margin-bottom: 40px;
	font-size: 0.9725em;
	color: #555555;
	text-shadow: 0 1px 0 #ffffff;
	position: relative;
}
.orders .orders-account-content .title h1{
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.bill-account{
	height: auto;
}
.bill-account table{
	width: 100%;
}
.bill-account table tr td{
	text-align:center;
	padding:25px 6px;
	border: 1px solid #CCC;
}
.bill-account table tr td a:hover{
	color: red;
}
.bill-account table tr th{
	border: 1px solid #CCC;
	padding:15px;
}
.orders-account-content .notes{
	padding-top: 15px;
}
.orders-account-content .notes strong{
	line-height: 2.2;
}
.orders-account-content .notes p{
	line-height: 1.5;
}
.bill-account input[type="checkbox"]{
	padding-top: 15px;
}
.checkbox-account{
	padding-top: 15px;
}
/*start account*/
.main_bg_account{
	background: #fff;
}
.main-account{
	height: 575px;
	margin: 4% 0;
}
.account{
	display: block;
}
.account .vertical-menu{
    border: 1px solid #ebebeb;
    margin-bottom: 60px;
    padding: 20px 30px;
    width: 30%;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 1px darkgray;
    box-sizing: border-box;
    float: left;
}
.account .vertical-menu ul li{
	border-bottom: 1px dashed darkgray;
    list-style-type: none;
    padding: 6px 0;
    margin: 5px 0 5px 0;
}
.account .vertical-menu .dashboard span{
	text-transform: uppercase;
	font-weight: bold;
	cursor: context-menu;
}
.account .vertical-menu .dashboard .fa-tachometer-alt{
	margin-right: 5px;
}
.account .vertical-menu a{
	color: #000;
}
.account .vertical-menu ul li.active a{
	color:#57C5A0;
}
.account .account-content{
    margin-bottom: 60px;
    padding: 20px 30px;
    width: 60%;
    height: 510px;
    float: right;
}
.title{
	margin-bottom: 40px;
	font-size: 0.9725em;
	color: #555555;
	text-shadow: 0 1px 0 #ffffff;
	position: relative;
}
.account .account-content .title h1{
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.account .account-content .title p{
	padding-bottom: 10px;
	font-size: 16px;
}
.account .account-content .title h5{
	font-size: 16px;
	padding-bottom: 10px;
}
.account .account-content .title span{
	font-weight: bold;
}
.account .account-content .title-second{
	width: 100%;
	height: 50px;
}
.account .account-content .title-second .left{
	width: 325px;
	height: 130px;
	float: left;
}
.account .account-content .title-second .left a{
	color: #555555;
	font-size: 17px;
	padding-bottom: 10px;
	display: block;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.account .account-content .title-second .left p{
	margin-top: 10px;
	font-size: 14px;
	text-align: justify;
}
.account .account-content .title-second .right{
	width: 325px;
	height: 130px;
	float: right;
}
.account .account-content .title-second .right a{
	color: #555555;
	font-size: 17px;
	padding-bottom: 10px;
	display: block;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.account .account-content .title-second .right p{
	margin-top: 10px;
	font-size: 14px;
	text-align: justify;
}
.account .account-content .title-third .left{
	width: 325px;
	height: 150px;
	float: left;
}
.account .account-content .title-third .left a{
	color: #555555;
	font-size: 17px;
	padding-bottom: 10px;
	display: block;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.account .account-content .title-third .left p{
	margin-top: 10px;
	font-size: 14px;
	text-align: justify;
}
.account .account-content .title-third .right{
	width: 325px;
	height: 150px;
	float: right;
}
.account .account-content .title-third .right a{
	color: #555555;
	font-size: 17px;
	padding-bottom: 10px;
	display: block;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.account .account-content .title-third .right p{
	margin-top: 10px;
	font-size: 14px;
	text-align: justify;
}
.account .account-content .title-fourth .left{
	width: 325px;
	height: 120px;
	float: left;
}
.account .account-content .title-fourth .left a{
	color: #555555;
	font-size: 17px;
	padding-bottom: 10px;
	display: block;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.account .account-content .title-fourth .left p{
	margin-top: 10px;
	font-size: 14px;
	text-align: justify;
}
.account .account-content .title-fourth .right{
	width: 325px;
	height: 120px;
	float: right;
}
.account .account-content .title-fourth .right a{
	color: #555555;
	font-size: 17px;
	padding-bottom: 10px;
	display: block;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.account .account-content .title-fourth .right p{
	margin-top: 10px;
	font-size: 14px;
	text-align: justify;
}
/*start update account*/
.main-update-account{
	height: 856px;
	margin: 4% 0
}
.update-account{
	display: block;
}
.update-account .vertical-menu{
    border: 1px solid #ebebeb;
    margin-bottom: 60px;
    padding: 20px 30px;
    width: 30%;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 1px darkgray;
    box-sizing: border-box;
    float: left;
}
.update-account .vertical-menu ul li{
	border-bottom: 1px dashed darkgray;
    list-style-type: none;
    padding: 6px 0;
    margin: 5px 0 5px 0;
}
.update-account .vertical-menu .dashboard span{
	text-transform: uppercase;
	font-weight: bold;
	cursor: context-menu;
}
.update-account .vertical-menu .dashboard .fa-tachometer-alt{
	margin-right: 5px;
}
.update-account .vertical-menu a{
	color: #000;
}
.update-account .vertical-menu ul li.active a{
	color:#57C5A0;
}
.update-account-content{
	margin-bottom: 60px;
	padding: 20px 30px;
	width: 60%;
	height: 510px;
	float: right;
}
.update-account-content .title h1{
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.update-account-content fieldset{
	border: 1px solid beige;
    border-radius: 10px;
    margin-bottom: 30px;
}
.update-account-content legend{
	padding: 3px 8px 3px 8px;
	margin: 0px 25px 0px 25px;
	background: grey;
    color: #fff;
    border-radius: 3px;
}
h5 i{
	color: red;
}
h5 strong{
	color: red;
} 
.update-account-content .title-second{
	width:653px; 
	height:50px;
	margin: 25px 30px 14px 30px;
}
.update-account-content .title-second .name{
	width:300px;
	height:50px; 
	float:left;
}  
.update-account-content .title-second .name input{
	width:300px;
	height: 26px;
	margin:4px 0 4px 0; 
	border: 1px solid #e5e5e5;
}
.update-account-content .title-second .phone{
	width:300px;
	height:50px; 
	float:right;
}  
.update-account-content .title-second .phone input{
	width:300px;
	height: 26px;
	margin:4px 0 4px 0; 
	border: 1px solid #e5e5e5;
}
.update-account-content .title-third{
	width:653px; 
	height:50px;
	margin: 25px 30px 25px 30px;
}
.update-account-content .title-third input{
	width: 653px;
	height: 26px; 
	margin:4px 0 4px 0; 
	border: 1px solid #e5e5e5;
}
.update-account-content .title-fourth{
	width:653px; 
	height:50px;
	margin: 25px 30px 25px 30px;
}
.update-account-content .title-fourth input{
	width: 653px;
	height: 26px; 
	margin:4px 0 4px 0; 
	border: 1px solid #e5e5e5;
}
..up_sky_form{
	width: 667px;
}
.up_sky_form ul{
	height: 53px;
	margin: 25px 30px 25px 30px;
}
.up_sky_form ul li{
	display:inline-block;
	line-height: 1.5em;
}
.up_sky_form ul li input[type="radio"]{
	vertical-align: text-top;
}
.up_sky_form label i{
	color: #777777;
	font-size: 0.8125em;
	margin-right: 10px;
	vertical-align: middle;
	padding-left: 3px;
}
.update-account-content .title-fifth{
	width:653px; 
	height:50px;
	margin: 0px 30px 25px 30px;
	position: relative;
}
.update-account-content .title-fifth input{
	width: 653px;
	height: 26px; 
	margin:4px 0 4px 0; 
	border: 1px solid #e5e5e5;
}
.update-account-content .title-sixth{
	width:641px; 
	margin: 15px 30px 20px 30px;
}
.update-account-content .title-sixth input{
	margin-top:4px; 
	border: 1px solid #e5e5e5;
}
.update-account-content .title-seventh{
	width:653px; 
	height:50px;
	margin: 25px 30px 28px 30px;
	position: relative;
}
.update-account-content .title-seventh .pwd{
	width:300px;
	height:50px; 
	float:left;
}  
.update-account-content .title-seventh .pwd input{
	width:300px;
	height: 26px;
	margin:4px 0 4px 0; 
	border: 1px solid #e5e5e5;
}
.update-account-content .title-seventh .conf_pwd{
	width:300px;
	height:50px; 
	float:right;
}  
.update-account-content .title-seventh .conf_pwd input{
	width:300px;
	height: 26px;
	margin:4px 0 4px 0; 
	border: 1px solid #e5e5e5;
}
.button-box{
	width: 715px;
	height: 50px;
	margin: auto;
}
.button-box .left{
	height:37px;
	float:left;
	cursor: pointer;
	margin-left: 25px;
}
.button-box .left a{
	width: 108px;
	height: 37px;
	border:none;
	background:#F00;
	display: block;
	border-radius: 4px;
}
.btn-led-btn{
	width: 0px;
	height:37px;
	transition: width 0.4s;
	display:block;
	background:#000;
	color:lavender;
	border-radius: 4px;
}
.btn-led-btn:hover{
	width:108px;
	height:37px;
	background:#000;
	color:#FFF;
	border-radius: 4px;
}
.btn-led-btn span{
	display:block;
	width:100px;
	padding:9px;
}
.btn-led-btn span i{
	margin-right: 4px;
	padding-left: 9px;
	font-size:9px;
}
.button-box .right{
	height:37px;
	float:right;
	cursor: pointer;
	position: relative;
	margin-right: 25px;
}
.button {
	border-radius: 4px;
	background-color: red;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 0px;
	width: 108px;
	transition: all 0.5s;
	cursor: pointer;
	height: 37px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 18px;
  bottom: 4px;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 20px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.fix-box{
	font-size: 13px;
	padding-bottom: 2px;
	color: #d53333;
	display: block;
}
.fix-box-gt{
	font-size: 13px;
	padding-bottom: 2px;
	color: #d53333;
	display: block;
	margin-top: 12px;
}
/**------------------------------------------------------------------Trang Index.php----------------------------------------------------------------**/
/** Muc 1: Slideshow**/
.slide{
  width: 1520px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  padding: 10px 0;
}
.chuyen-slide{
  width: 99999px;
  transition: all 0.5s;
}
.abc{
  width: 1520px;
  height: 443px;
  float:left;
}
.slider-left{
	width: 70.5%;
	float: left;
}
.slider-right{
	width: 28.5%;
	float: left;
	text-align: right;
	margin-top: 4%;
}
.slider-right h1{
	color: #000;
	font-size: 4em;
	text-transform: uppercase;
	font-weight: 100;
}
.slider-right h2{
	color: #000;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 100;
}
.slider-right p{
	color: #999;
    font-size: 0.85em;
    margin-top: 25px;
}
.slider-right p span{
	display: block;
}
.btn-slide{
	padding: 8% 0;
}
.btn-slide a{
	border: 1px solid #ddd;
	color: #000;
	cursor: pointer;
	padding: 10px 30px;
	display: inline-block;
	font-size: 0.85em;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #FFF;
	text-transform: uppercase;
} 
.btn-slide a:hover{
	background: #000;
	color: whitesmoke;
	transition: 0.7s all;
}   
/* Next & previous buttons */
.prev{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: whitesmoke;
	font-weight: bold;
	font-size: 100px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	left: 0;
}
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: whitesmoke;
	font-weight: bold;
	font-size: 100px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	right: 0;
}
/* On hover, add a black background color with a little bit see-through */
.next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.prev:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
/** Mục 2: Main-page **/
.main-page{
	padding: 4% 0 0 0;
}
.brand{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 35px 0 65px 0;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
}
.brand-title{
	background: #fff;
	position: absolute;
	top: -29px;
	left: 365px;
	margin-top: 18px;
	padding: 0 20px;
}
.brand-title h3{
	color: #333333;
	font-weight: 700;
	text-transform: uppercase;
}
.brand-logo{
	box-sizing: border-box;
	padding: 0 10px;
	width: 207px;
	float: left;
	border-left: 1px solid #999; 
}
.umn{
	border-left:none; 
}
.brand-logo img{
	text-align: center;
	width: 100px;
	height: 25px;
}
.brand-logo img:hover{
	transform: scale(1.1);
}
.brand-healing{
	background: #fff;
	position: absolute;
	top: 71px;
	left: 543px;
	margin-top: 18px;
	padding: 0 20px;
}
.brand-healing h3{
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
}
.content-top{
	margin-bottom: 11%;
	height: 671px;
}
.box-top{
	display: block;
	float: left;
	margin: 1% 15px 1% 17px;
}
.box-top:hover{
	border-color: darkgray;
}
.box-content{
	width:30.7%;
	border: 1px solid #DDD;
}
.box-content:hover{
	transform: translateY(-4px);
	box-shadow: 0 24px 32px -12px rgba(48,56,70,.1);
}
.grid_img{
	text-align:center;
}
.imgs{
	height: 160px;
}
.view {
   overflow: hidden;
   position: relative;
}
.top_box{
	padding:6%;
}
h3.text_1{
	color:#555;
	font-size:0.9em;
	text-transform:uppercase;
	font-weight:500;
	width: 250px;
}
p.text_2{
	color:#999;
	font-size:0.8125em;
}
.top_box .imgs img {
	-webkit-transition-duration: 0.5s;
	/* Webkit: Animation duration; */
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
.top_box:hover .imgs img{
	-webkit-transform: scale(0.9);
	/* Webkit: Scale up image to 1.2x original size; */
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	opacity: 1;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 157px;
   left: 130px;
}
.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
  -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.info {
   display: inline-block;
   text-decoration: none;
   padding: 8px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
  	font-size:0.9em;
}
.info:hover {
   background:#FFAF02;
}
.price{
	color:red;
	font-size:17px;
	font-weight:700;
	float: left;
	width: 45%;
	height: 35px;
	text-transform: uppercase;
	border: 1px solid #ccc;
	display: block;
	text-align: center;
	border-bottom: unset;
}
.price span{
	text-decoration: line-through red;
	color: #555 !important;
	margin-right: 10px;
	font-size: 13px;
	margin-left: 9px;
	display: block;
}
.price h6{
	text-decoration: line-through red;
	color: #555 !important;
	margin-right: 10px;
	font-size: 13px;
	margin-left: 9px;
	display: block;
	margin-top: 5px;
}
.price h4{
	color: #555;
    margin-top: 12px;
    display: block;
}
.price strong{
	color: #555;
	margin-top: 8px;
	display: block;
}
.view h5{
	width: 102px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	background: red;
	color: white;
	font-weight: bold;
	padding: 20px 11px;
	position: absolute;
	top: 0px;
	right: 0;
}
/*rating star*/
.rating {
	overflow: hidden;
	display:block;
	background:#d5d5d5;
	padding:2% 5%;
	font-size: 0.85em;
	color:#000;
	float: left;
	width: 50%;
}
.rating-input {
	position: absolute;
	left: 0;
	top: -50px;
}
.rating-star {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../images/star.png) 0 -3px;
	float:left;
}
.rating-star:hover {
	background: url(../../images/star.png) 0 -20px;
}
.rating-star1 {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../images/b_star.png) 0 -3px;
	float: left;
}
.rating-star1:hover {
	background: url(../../images/b_star.png) 0 -20px;
}
.list{
	float: left;
	background: #08080B;
	width: 50%;
	padding: 0.5% 0;
	text-align: center;
}
ul.list li img{
	vertical-align:middle;
	float: left;
	margin: 0 0px 0 18%;
} 
.icon1:before,.icon1:after {
	content: "";
	display: table;
}
.icon1:after {
	clear: both;
}
.icon1 {
	float: left;
	zoom:1;
}
.icon1 li a{
	color: #FFF;
	font-size: 0.85em;
	text-transform: uppercase;
	margin-top: 9px;
}
.icon1 li {
	position: relative;
}
.icon1 li:last-child{
	border-right:none;
}
.icon1 li:hover > a {
	color: #fafafa;
}
*html .icon1 li a:hover { 
	color: #fafafa;
}
.icon1 ul {
	width:300px;
	margin: 20px 0 0 0;
	_margin: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top:38px;
	z-index: 1;
	right: -140px;
	background: #ffffff;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	box-shadow: 0px 2px 6px #aaa;
	-webkit-box-shadow: 0px 2px 6px #aaa;
	-moz-box-shadow: 0px 2px 6px #aaa;
	-o-box-shadow: 0px 2px 6px #aaa;
}
.icon1 li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
	z-index: 9999;
}
.icon1 ul ul {
	top: 6px;
	left: 158px;
	margin: 0 0 0 20px;
}
.icon1 ul li {
	float: none;
	display: block;
	border: 0;
}
.icon1 ul li:first-child{
	border-top:none;
}
.icon1 ul li:first-child a{
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
}
.icon1 ul li:last-child {   
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;    
}
.icon1 ul a {    
	_height: 10px;
	white-space: nowrap;
	float: none;
	text-transform: none;
}
.icon1 ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 45%;
	top: -30px;
	border-left: 10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid #f0f0f0;
}
.icon1 ul ul li:first-child a:after {
	left: -100px;
	top: 0%;
	margin-top: -6px;
	border-left: 0;	
	border-bottom:20px solid transparent;
	border-top: 20px solid transparent;
	border-right:20px solid #323757;
}
.active-icon{
	display: block;
}
.icon1 .profile_img {
	margin-top: 3px;
}
.sub-icon1 ul li h3{
	text-align: center;
	font-size: 1em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 4%;
}
.sub-icon1 ul li p{
	text-align:center;
	font-size: 0.8125em;
	color: #555555;
	line-height: 1.8em;
}
.sub-icon1.list{
	padding: 20px 0px;
}
.sub-icon1 ul li p a{
	color: #00405d;
}
.sub-icon1 ul li p a:hover{
	color: #555555;
	text-decoration:underline;
}
/*Hàng bán chạy*/
.content-middle{
	height: 800px;
	margin-bottom: 70px;
}
.selling{
	border-top: 1px solid #000; 
	position: relative; 
	margin-bottom: 30px;
}
.selling-title{
	background: #fff; 
	position: absolute; 
	top: -29px; 
	left: 543px; 
	margin-top: 18px;
	padding: 0 20px
}
.selling-title h3{
	color: #000; 
	font-weight: 700; 
	text-transform: uppercase;
}
.content-bottom{
	background: #111; 
	height: 87px; 
	border-bottom: 1px solid darkgray; 
	padding:18px 0 16px 0; 
	border-top: 2px solid darkgray; 
	box-shadow: 0px 10px 10px 10px !important;
}
.tao-trang-chi{
	height:59px;
	float:left;
	margin-left: 8px;
}
.phan-trang-chi{
	width: 242px;
	height: 60px;
}
.trang-chi-img{
	height:40px;
	width:40px;
	-webkit-transition: 0.8s;
  	transition: 1s;
	float:left;
	border-left:1px solid #fff;
}
.dil:first-child{
	margin-left:unset;
}
.del:first-child{
	border-left:none;
}
.trang-chi-img img{
	margin-left: 9px;
}
.phan-trang-chi:hover img{
	-ms-transform: rotateY(360deg);      
  -webkit-transform: rotateY(360deg);   
   transform: rotateY(360deg);
   transition: 1.2s all;
}
.trang-chi-text{
	float:right;
	height:65px;
	width:185px;
}
.trang-chi-text h3{
	padding-bottom:7px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#fff;
}
.trang-chi-text p{
	color: dimgray;
	text-align: justify;
	font-size: 13px;
}
/**---------------------------------------------------------Trang view_product_detail.php-----------------------------------------------------------**/
.main-view-product-detail{
	height: auto;
}
.single{
	display: block;
	margin-top: 25px;
	height: 575px;
}
.left-single{
	float: left;
	width: 75%;
	background:#fff; 
	height: 575px;
	border-radius: 10px;
}
.left-single-left{
	float: left;
	width: 45%;
	height: auto;
}
.left-single-right{
	float: left;   
    width: 48%;
    margin: 15px 17px 0 17px;
    height: auto;
}
.left-single-right a{
	color: #303846;
	font-size: 14px;
}
.left-single-right a:hover{
	color: darkblue;
}
.single-brand{
	margin-bottom: 15px;
}
.brandsp{
	display: inline;
}
.brandsp::after{
	content: "・";
	display: inline-block;
	margin: 0 4px 0 2px;
	color: #98a5b9;
}
.left-single-right h3{
	letter-spacing: -1px;
	text-shadow: 0 1px 0 #ffffff;
	color: #303846;
	font-size: 24px;
	margin: 2px 0 4px 0;
}
.left-single-right span{
	color: #98a5b9;
	font-size: 13px;
}
.left-single-right span strong{
	color: #000;
}
.left-single-right h5{
  	-webkit-text-stroke: 0.2px;
  	font-size: 18px;
  	color: #c00;
    padding-bottom: 25px
}
.left-single-right h5 strong{
	color: #000;
}
.left-single-right h5 span{
	text-decoration:line-through red;
	display: block;
	color: black !important;
	font-size: 18px !important;
}
.left-single-right h5 a{
	margin-left:5px;
	color:#555555;
	text-transform:capitalize;
	font-size: 14px;
	-webkit-text-stroke: 0px;
	letter-spacing: 0px;
}
.left-single-right h5 a:hover{
	color: #5DAA90;
}
.left-single-right h5 label{
	display: inline;
	float: right;
	position: relative;
	top: -3px;
	left: -301px;
	height: 19px;
	padding: 1px 6px 0 3px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	font-size: 10px;
	font-weight: 700;
	line-height: 18px;
	background: #f3320b;
	color: #fff;
}
.left-single-right h5 label::before{
	display: inline-block;
	position: absolute;
	left: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #3bb54a;
	border-right-color: rgb(59, 181, 74);
	border-bottom: 8px solid transparent;
	content: "";
}
.left-single-right h5 label::before{
	border-right-color: #f3320b; 
}
.left-single-right h5 label::after{
	content: none !important;
}
.left-single-right p{
	text-align: justify;
	margin-bottom: 10px;
	color: #888;
	line-height: 1.4;
}
.left-single-right p strong{
	padding: 5px;
	background: whitesmoke;
	border-radius: 30%;
	font-size: 13px;
}
.left-single-right .quantity{
	height: 50px;
	background: #000;
	border-radius: 6px;
	border: 1px solid aliceblue;
	position: relative;
	width: 238px;
	float: left;
	margin-left: 20px;
}
.left-single-right .quantity span{
	color: #fff;
	position: absolute;
	font-size: 15px;
	top: 15px;
	left: 20px;
}
.left-single-right .quantity input[type="number"]{
	position: absolute;
	top: 14px;
	width: 117px;
	right: 21px;
	border: 0;
	border-radius: 2px;
}
@media (min-width: 1200px){
	.zoomLens{
	cursor: move !important;
	width: 100px !important;
	height: 100px !important;
}
}
/*.zoomLens{
	cursor: move !important;
	width: 100px !important;
	height: 100px !important;
}*/
.zoomWindow{
	margin-left: 30px;
    background-size: 555px 575px !important;
}
.zoomContainer{
	max-width: 300px !important;
	max-height: 300px !important;
}
.btn-dat-hang{
	margin-left: 17px;
	height: 50px;
	width: 155px;
	border: 1px solid brown;
	background: #000;
	border-radius: 6px;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
}
.btn-dat-hang:hover{
	background: black;
}
.sale_product{
	border: 1px dashed #000;
	padding: 23px;
	margin: 20px 0 35px 0;
	display: inline-block;
	width: 100%;
}
.sale_product strong{
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	color: #888;
}
.sale_product ul li{
	list-style: none;
	display: inline-block;
	font-size: 14px;
	text-rendering: auto;
	line-height: normal;
	padding-left: 0;
	margin-bottom: 10px;
	color: #888;	
}
.sale_product ul li::before{
	content: "\f058";
	margin-right: 8px;
	font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
	font-size: 18px;
	color: #38b53e;
}
.right-single{
	float: right;
	width: 25%;
	background:#fff; 
	height: auto;
	border: 1px solid #e5e5e5;
}
.right-single h4{
	font-family: Georgia,Utopia,'Times New Roman',Times,serif,sans-serif !important;
	font-size: 25px;
	font-weight: 700;
	padding: 15px 0 15px 0;
	font-style: oblique;
	text-align: center;
	background: #000;
	color: #fff;
}
.right-single h3:hover{
	color: sienna;
}
.box-same_product{
	height: 150px;
	margin: 20px;
	border-bottom: 1px dashed #ccc; 
	position: relative;
}
.box-same_product:last-child{
	border-bottom: unset;
}
.box-same_product .imageS{
	float: left; 
	margin-left: 15px;
}
.box-same_product .contenT{
	height: 131px;
}
.box-same_product .contenT h5{
	margin-left: 25px;
	display: inline;
}
.box-same_product .contenT h3{
	margin: 5px 0 2px 150px;
}
.box-same_product .contenT del{
	color: red;
}
.box-same_product .contenT span{
	margin-left: 25px; 
	font: oblique 600 16px/24px Georgia,serif;
	font-weight: normal; 
	color: black;
}
.box-same_product .contenT strong{
	display: block; 
	margin: 0 0 0 150px; 
	font:oblique 600 16px/24px Georgia,serif;
}
.box-same_product .contenT h6{
	position: absolute; 
	top: -15px; 
	right: -2px; 
	width: 35px; 
	height: 40px; 
	background: red; 
	font-size: 12px; 
	color: #fff; 
	text-align: center; 
	font-weight: bold;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.content_product{
	height: auto;
	background: white;
	width: 71%;
	margin-top: 15px;
	border-radius: 5px;
	float: left;
	margin-bottom: 40px;
	border: 1px solid #ccc;
}
.containerTab img{
	width: 419px;
    height: 400px;
    text-align: center;
}
.containerTab p{
	margin-bottom: 5px; 
}
.containerTab strong{
	font-weight: bold;
}
/*Expanding Grid*/
.row{
	padding:0;
}
.column1{
	float: left;
	width: 17.33%;
	padding: 15px 10px;
	text-align: center;
	font-size: 19px;
	cursor: pointer;
	margin-left: 21px;
}
.column1.active{
	border-bottom: 1px solid #000;
}

.containerTab {
	padding: 20px;
	color: white;
}
#b2 h2{
	margin-top: 10px;
	color: #111;
	font-size: 20px;
	margin: 10px 20px 0px 20px;
}
#b2 h3{
	margin: 10px 20px 20px 20px;
}
#b2 span{
	color: red;
}
.comment label{
	margin-bottom: .5em;
	font-size: 15px;
	font-weight: 700;	
	display: block;
	color: #111;
	margin-left: 19px;
}
.comment textarea{
	border: 1px solid #e2e2e2;
	background: 0 0;
	box-shadow: none;
	font-family: IBM Plex Sans;
	font-size: 16px;
	font-weight: 400;
	color: #222;
	min-width: 805px;
	max-width: 805px;	
	max-height: 180px;
	margin-bottom: 15px;
	margin-left: 19px;
}
.author label{
	margin-bottom: .5em;
	font-size: 15px;
	font-weight: 700;	
	display: block;
	color: #111;
	margin-left: 19px;
}
.author input[type="text"]{
	border: 1px solid #e2e2e2;
	background: 0 0;
	box-shadow: none;
	padding: .5180469716em;
	outline: 0;
	color: #222;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
	font-weight: 400;
	-webkit-appearance: none;
	margin-left: 19px;
	width: 91%;
	height: 40px;
}
.eml label{
	margin-bottom: .5em;
	font-size: 15px;
	font-weight: 700;	
	display: block;
	color: #111;
	margin-left: 19px;
}
.eml input[type="text"]{
	border: 1px solid #e2e2e2;
	background: 0 0;
	box-shadow: none;
	padding: .5180469716em;
	outline: 0;
	color: #222;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
	font-weight: 400;
	-webkit-appearance: none;
	margin-left: 19px;
	width: 91%;
	height: 40px;
}
.btn-binh-luan button{
	margin-left: 19px;
	padding: 8px;
	outline: none;
	border: none;
	margin-top: 10px;
	border-radius: 2px;
	background: darkgray;
	color: #fff;
	width: 95px;
	height: 35px;
	cursor: pointer;
}
.btn-binh-luan button:hover{
	background: #000;
}
.box-comment{
	margin: 30px 5px 5px 19px; 
}
.box-comment ul{
	border-bottom: 2px solid darkgray;
	margin-bottom: 15px;
}
.comment-ten{
	margin-bottom: 3px;
}
.comment-thoigian{
	margin-bottom: 25px;
}
.comment-chitiet{
	margin-bottom: 15px;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Closable button inside the container tab */
.closebtn {
	float: right;
	color: white;
	font-size: 35px;
	cursor: pointer;
}
.history-product{
	float: right;
	width: 24%;
	background: #fff;
	height: 500px;
	margin-top: 15px;
	margin-bottom: 40px;
	border-radius: 10px;
}
.history-product h4{
	font-family: Georgia,Utopia,'Times New Roman',Times,serif,sans-serif !important;
	font-size: 25px;
	font-weight: 700;
	padding: 15px 0 15px 0;
	font-style: oblique;
	text-align: center;
	border-radius: 10%;
	border-bottom: 1px dashed darkgray;
}
.history-product h3:hover{
	color: brown !important;
}
/**--------------------------------------------------------------Trang view_cart.php----------------------------------------------------------------**/
.main-view-cart{
	height: auto;
}
.main-view-cart h1{
	font-size: 27px;
	margin-left: 10px;
	text-transform: uppercase;
	color: #363636;
	padding: 45px 0 10px 0;
}
.main-view-cart p{
	margin-left: 10px;
	padding-bottom: 90px;
}
.main-view-cart p a{
	color: #575454;
}
.main-view-cart p a:hover{
	color: crimson;
}
.breadcrumb{
	border-bottom: 1px solid #ddd;
}
ul.breadcrumbs {
  padding: 12px 12px;
  list-style: none;
  background-color: #fff;
  margin: unset !important;
}
.sss{
	padding: 15px 12px !important;
}
ul.breadcrumbs li {
  display: inline;
  font-size: 16px;
  margin: unset !important;
}
ul.breadcrumbs li span{
	font-size: 14px;
}
ul.breadcrumbs li+li:before {
  padding: 8px;
  color: black;
  content: "\203A";
}
ul.breadcrumbs li a{
  color: #0275d8;
  text-decoration: none;
  font-size: 13px;
}
ul.breadcrumbs li a i{
	margin-left: 4px;
}
ul.breadcrumbs li a:hover {
  color: #01447e;
}
.healing-cart{
	border-bottom: 2px solid #CCC;
	margin-bottom: 20px;
	padding-bottom: 3px;
	border-bottom-left-radius: 6px;
}
.healing-cart h2{
	color: steelblue;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 2px;
	display: inline;
	border-bottom: 3px solid red;
	font-family: "Times New Roman", Times, serif;
	padding-bottom: 3px;
	border-bottom-left-radius: 6px;
}
.list-view-cart{
	margin: 35px 0 40px 15px;
	float: right;
	padding: 15px 15px 20px 15px;
	border: 1px solid #CCC;
	border-radius: 5px;
	width: 880px;
}
.list-view-cart table{
	width: 100%;

}
.list-view-cart table th{
	border-bottom: 2px solid #ccc;
	padding: 9px;
}
.list-view-cart table tr td{
	text-align: center;
	padding: 15px 0px 15px 0px;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}
.list-view-cart table tr td a{
	color: black;
	text-decoration: none;
	font-size: 14px; 
}
.list-view-cart table tr td a .fa-trash-alt{
	color: darkblue;
}
.update_cart{
	padding: 0px 6px 1px 7px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;  
}
.update_cart:hover{
	background: #dedede;
}
.sub{
	padding: 0px 4px 1px 9px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.plus-cart{
	width: 400px;
	height: 230px;
	background: #f9f9f9;
	float: right;
	margin: 35px 0 10px 0;
	border-radius: 15px;
}
.content-plus-cart{
	padding: 40px 30px; 
	margin-bottom: 50px;
}
.content-plus-cart h2{
	border-bottom: 1px solid #ebebeb; 
	font-size: 1.286em; 
	margin: 0 0 35px; 
	padding: 0 0 10px 0; 
	text-transform: uppercase;
}
.content-plus-cart h3{
	border-bottom: 1px solid #ebebeb; 
	font-size: 16px; 
	margin: 0 0 25px; 
	padding: 0 0 10px 0; 
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color: darkslategray;
}
.content-plus-cart .buttom{
	padding: 10px; 
	background:red; 
	float: right; 
	border-radius: 5px;
}
.content-plus-cart .buttom a{
	color: white;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	font-family: Roboto, Arial, Helvetica, 
	sans-serif;text-transform: 
	uppercase;text-decoration: none;
}
.content-plus-cart .buttom:hover{
	background:#000; 
	color:#FFF
}	
/*---------------------------------------------------------------------Side-bar-menu----------------------------------------------------------------------*/
.side-bar{
	margin: 25px 0;
	float: left;
	border-radius: 5px;
	width: 280px;
	height: auto;
}
.category{
	height: auto; 
	margin-top: 10px;
}
.qqqqq{
	margin: unset;
}
.healing-category{
	background: #000; 
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.healing-category-img{
	float: left; 
	background: #000; 
	height: 48px; 
	width:53px; 
	border-top-left-radius: 5px;
}
.healing-category-img img{
	margin: 9px 0 0 12px;
}
.healing-category-txt{
	display: flex;
}
.healing-category-txt p{
	margin: 0 0 0 5px;
	padding: 15px 0 15px 0;
	color: #fff;
	text-transform: uppercase;
}
#menutree {
  padding: 0;
  max-width: 320px; /* Restrict width if you want */
  height: auto;
  border: 1px solid #ccc;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#menutree li {
  list-style: none;
  padding: 16px 11px;
  border-bottom: 1px solid #ccc;
}
#menutree li:last-child {
  border: 0;
}
#menutree a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}
#menutree span:before{
	content: '';
	background: url("../../images/arrow-right.png") -20px 0 no-repeat;
	    background-size: auto;
	position: absolute;
	overflow: hidden;
	width: 10px;
	height: 20px;
	background-size: 35px 18px;
	left: -11px;
}
#menutree .arw:before{
	content: '';
	background: url("../../images/arrow-right.png") -20px 0 no-repeat;
	    background-size: auto;
	position: absolute;
	overflow: hidden;
	width: 10px;
	height: 20px;
	background-size: 35px 18px;
	left: 167px;
}
#menutree .childs:before{
	content: '';
	background: url("../../images/arrow-right.png") -20px 0 no-repeat;
	    background-size: auto;
	position: absolute;
	overflow: hidden;
	width: 10px;
	height: 20px;
	background-size: 35px 18px;
	left: 178px;
}
/* [COLLAPSIBLE] */
#menutree label {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
}
#menutree input[type=checkbox] {
  display: none; /* Hide ugly checkbox */
}

/* Hide/collapse by default */
li.collapse ul {
  visibility: hidden;
  opacity: 0;
  max-height: 0; /* CSS bug. Cannot animate height... */
  transition: all 0.5s;
}
label::after {
  content: "\002B";
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

/* Show when checked */
li.collapse input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  max-height: 999px; /* Just give a big enough height for animation */
}
li.collapse input:checked ~ label::after {
  transform: rotate(180deg);
  content: "\2212";
}
/*-------------------------------------------------------------------------New-bars--------------------------------------------------------------*/
.title-news{
	padding: 10px 10px 5px 10px;
	background: black;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.title-news p{
	color: #fff;
	text-transform: uppercase;
	margin: unset;
	padding: unset;
}
.title-news span{
	width: 30px;
	display: block;
	border-bottom: 2px solid #ccc;
}
.content-news{
	padding: 10px 10px 15px 10px;
	border: 1px solid #ccc;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	position: relative;
  	font-family: Arial;
  	z-index: 10;
}
.content-news img{
	float: left;
	margin-right: 20px;
} 
.content-news span{
	margin-right: 7px;
	font-size: 14px;
	text-align: right;
	display: block;
}
.content-news a{
	color: #000;
}
.content-news a:hover{
	color: #dd3333;
}
.content-news-box{
	border-bottom: 1px solid #ccc;
	padding: 10px 0	;
}
.content-news-box:last-child{
	border-bottom: hidden; 
}

/*-----------------------------------------------------------------------Check out product--------------------------------------------------------------*/
.iii{
	width: 95%;
	margin: auto;
}
.iiii{
	width: 97%;
	margin: auto;
}
.main-check-out{
	height: auto;	
}
.list-check-out{
	height: auto;
	border: 1px solid #ccc;
	margin: 35px;
	border-radius: 4px;
	width: 95%;
}
.info-customer{
	height: auto;
	float: left;
	width: 69%;
}
.info-customer h4{
	text-align: center;
	font-size: 20px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	width: 98%;
	margin: auto;
}
.info-customer-step{
	padding: 15px;
}
.order-step-1{
	margin-bottom: 30px;
}
.order-step-1-head{
	background: #f2f2f2;
	border: 1px solid #e1e1e1;
	position: relative;
	display: flex;
	height: 38px;
	border-radius: 4px;
	padding: 0 10px 0 105px;
	align-items: center;
}
.order-step-1-head-img{
	position: absolute;
	left: -1px;
	top: -1px;
	height: 38px;
	background: url("https://st-fe-v2.fado.vn/desktop/dist/images/svg/order-step-head.svg") no-repeat 100%;
	background-size: auto;
	background-size: contain;
	width: 95px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 20px;
	font-weight: 500;
	color: #fff;
}
.order-step-1-head-title{
	font-weight: 500;
	flex: 1 1;
	color: #2548a5;
}
.order-step-1-content{
	height: auto;
	padding: 50px 15px 0 15px;
}
.order-step-1-content-group{
	display: flex;
	margin-bottom: 12px;
}
.order-step-1-content-label{
	flex: 0 0 200px;
	margin-right: 10px;
	text-align: right;
	line-height: 20px;
	padding: 6px 0 0;
	min-width: 1px;
}
.order-step-1-content-info{
	flex: 1 1;
	min-width: 1px;
	position: relative;
}
.order-step-1-content-input{
	width: 80%;
	padding: 5px 10px;
	border-radius: 3px;
	border: 1px solid #e1e1e1;
	outline: none;
	height: 40px;
	background: #fff;
}
.order-step-1-content-input:focus{
	box-shadow: 0 0 0 2px rgba(102, 175, 233, 0.6);
}
.order-step-1-content-info textarea{
	padding: 10px;
	resize: none; 
	border: 1px solid #ccc; 
	width: 435px; 
	height: 100px; 
	border-radius: 3px;
}
.order-step-1-content-info textarea:focus{
	box-shadow: 0 0 0 2px rgba(102, 175, 233, 0.6);
}
.info-product{
	height: auto;
	float: right;
	width: 31%;
	background: #f8f8f8;
	border-left: 1px solid #ccc;
}
.info-product h4{
	text-align: center;
	font-size: 20px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	width: 96%;
	margin: auto;
}
.sidenav2{
	width: 1350px;
	height: 0px;
	display: block;
	text-align: justify;
	line-height: 24px;
	letter-spacing: 0.6px;
	overflow-y: hidden;
	transition: 0.7s;
}
.list-pay-button button{
	width: 88%;
	margin-top: 5px;
	padding: 14px;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	background: #eb3e32;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	margin-left: 22px;
	margin-bottom: 32px; 
}
.fix-order{
	font-size: 13px;
	color: #d53333;
	display: block;
}
.news-product{
	height: auto;
	margin-top: 30px;
}
/**---------------------------------------------------------Trang all_product.php-----------------------------------------------------------**/
.main-all-product{
	height: auto;
}
.list-all-product{
	margin: 25px 0 50px 0px;
	float: right;
	padding: 10px 0px 20px 0px;
	border-radius: 5px;
	width: 880px;
	height: auto;
}
.list-all-product .infoss{
	background-color: #ffc;
	border-left: 6px solid #ffeb3b;
	padding: 10px;
}
.list-all-product h1{
	font-family: IBM Plex Sans;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: -.5px;
	line-height: 1.3;
	text-transform: none;
	color: #222;
	margin-bottom: 15px;
}
.advertisement{
	height: 330px;
}
.advertisement .description{
	height: 263px;
	background: #efeee3;
	float: left;
	width: 50%;
}
.description p{
	font-size: 21px;
	padding: 93px 59px;
	text-align: justify;
	color: dimgray;
}
.description strong{
	color: #000;
}
.advertisement .images{
	height: 263px;
	background: #000;
	float: right;
	width: 50%;
	text-align: center;
	padding: 31px 0 31px 0;
	position: relative;
}
.logos img{
	position: absolute;
}
.mn{
	padding: 0px 0 31px 0 !important; 
}
.toolbar{
	height: 40px;
    margin: 10px 5px;
    border: 1px solid #ddd;
}
.show-all-product{
	height: auto;
}
.box-bottom{
	display: block;
	float: left;
	margin: 0 4px 15px 4px;
	transition: 0.3s
}
.box-bottom:hover{
	border-color: darkgray;
}
.box-content-bottom{
	width: 285px;
	border: 1px solid #DDD;
}
.box-content-bottom:hover{
	transform: translateY(-4px);
	box-shadow: 0 24px 32px -12px rgba(48,56,70,.1);
}
.view h6{
	width: 59px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	background: red;
	color: white;
	font-weight: bold;
	padding: 10px;
	position: absolute;
	top: 0px;
	right: 0;
	font-size: 15px;
}
h3.text_3{
	color: #555;
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: 500;
	width: 208px;
}
.imgs-product{
	vertical-align: middle !important;
    float: left !important;
    margin: 0 0px 0 10% !important;
}
.list-product{
	float: left;
	background: #08080B;
	width: 55%;
	padding: 0.5% 0;
	text-align: center;
	height: 35px;
}
ul.list-product li img{
	vertical-align:middle;
	float: left;
	margin: 0 0px 0 18%;
} 
.view .mask1,.view .content {
   position: absolute;
   overflow: hidden;
   top: 135px;
   left: 80px;
}
.view-fifth .mask1 {
  -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth:hover .mask1 {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.info1 {
   display: inline-block;
   text-decoration: none;
   padding: 8px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
  	font-size:0.9em;
}
.info1:hover {
   background:#FFAF02;
}
.toolbar .pagination{
	float: right;
	padding: 7px 5px;
	margin: unset !important;
}
.so{
	border: none;
	outline: none;
	padding: 5px 10px;
	background-color: #f1f1f1;
	cursor: pointer;
	border-radius: 2px;
}
a.active, .so:hover {
  background-color: #000;
  color: white;
}
.btn-listGrid {
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn-listGrid:hover {
  background-color: #ddd;
}

.btn-listGrid.active {
  background-color: #666;
  color: white;
}
/*------------------------------------------------------------------------ Search-product -----------------------------------------------------------------*/
.main-search-product{
	height: auto;
}
/*------------------------------------------------------------------------ Search-price ------------------------------------------------------------------*/
.search-price-product{
	height: auto;
	margin-top: 30px;
}
.title-price{
	padding: 10px 10px 5px 10px;
	background: black;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.title-price p{
	color: #fff;
	text-transform: uppercase;
	margin: unset;
	padding: unset;
}
.form-price{
	padding: 0 0 10px 10px;
	border: 1px solid #ccc;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	position: relative;
  	font-family: Arial;
  	z-index: 10;
}
.form-price select{
	border: 1px solid #ccc;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 13.6px;
    color: #000;
    width: 180px;
	margin-top: 10px;
	padding: 5px;
	cursor: pointer;
}
.form-price select:focus{
	border: 1px solid darkgray;
}
.btn-tk{
	height: 31px;
	border: 1px solid #ccc;
	cursor: pointer;
}
/*------------------------------------------------------------------------ News --------------------------------------------------------------------------*/
.box-blog{
	float: left; 
	width: 33%; 
	position: relative; 
	height: 550px;
}
.post-date{
	position: absolute;
	top: 20px;
	left: 40px;
	border: 1px solid #ccc;
	padding: 0 15px;
	background: #fff;
}
.post-date-day{
	display: block;
	color: #1B1919;
	padding-top: 4px;
	font-size: 24px;
}
.post-date-month{
	display: block;
	color: #1B1919;
	padding-bottom: 8px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .5px;
}
.blog-content{
	text-align: center;
}
.blog-content-title{
	margin-bottom: 10px;
}
.blog-content-author{
	margin-bottom: 10px; 
	color: #787878; 
	font-size: 14px;
}
.blog-content-author span{
	color: darkred;
}
.blog-content-short{
	margin: 0 20.5px 5px 20.5px;
}
.blog-content-short p{
	line-height: 1.7; 
	margin-bottom: 10px;
}
.blog-content-short a{
	color: #6D6D6D; 
	border-bottom: 1px solid #6D6D6D; 
	padding-bottom: 1px 
}
.blog-content-short a:hover{
	color: #3E3E3E;
	border-bottom: 1px solid #3E3E3E; 
}
.img-blog{
	overflow: hidden; /** DÒNG BẮT BUỘC CÓ **/
    position: relative;
    width: 365px; 
	height:300px; 
	margin: 0 20.5px 5px 20.5px;
	background: #000;
}
.img-blog img{
	height: 101%;
	transition: all 1s;
	max-width: 101%;
}

.box-blog:hover .img-blog > a > img{
	-webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: .6;
    background: unset;
}
/*--------------------------------------------------------------------- News detail  ---------------------------------------------------------------------*/
.main-detail-news{
	height: auto;
}
.main-detail-news h1{
	font-family: IBM Plex Sans;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: -.6px;
	line-height: 1.24;
	text-transform: none;
	color: #222;
	width: 93%;
}
.main-detail-news strong{
	color: #999;
	font-size: 14px;
	margin-top: 15px;
	display: block;
}
.text-news{
	margin-top: 25px;
	height: auto;
}
.text-news p{
	letter-spacing: 0.8px;
	line-height: 25px;
	text-align: justify;
	font-size: 17px;
	width: 93%;
}
.text-news img{
	width: 863px;
	height: 500px;
	margin: 15px 0;
}
.text-news .avatar{
	vertical-align: middle;
	width: 80px;
	height: 80px;
	border-radius: 50%;	
}
.text-news span{
	margin-left: 15px;
}
.pagination{
	text-align: center;
	margin: 20px 0;
}
/*------------------------------------------------------------------------------- Shipping and delivery ----------------------------------------------------------------*/
.main-shipping{
	height: auto;
	margin-bottom: 60px;
}
.main-shipping p{
	text-align: justify;
	font-size: 16px;
	margin: 0 0 10px;
	color: #666;
	font-weight: 700;
}
.main-shipping .small{
	text-align: justify;
	font-size: 16px;
	margin: 0 0 10px;
	color: #666;
	font-weight: 700;
	text-indent: 15px;
}
.main-shipping ul{
	margin-bottom: 20px;
}
.main-shipping strong{
	text-indent: 25px;
	display: block;
	margin-bottom: 5px;
}
.main-shipping ul li{
	font-size: 15px;
	line-height: 1.4;
	list-style: disc;
	margin-left: 50px;
	text-align: justify;
}
/*------------------------------------------------------------------------------- Purchasing and payment ---------------------------------------------------------------*/
.main-purchasing{
	height: auto;
	margin-bottom: 60px;
}
.main-purchasing h3{
	color: #666;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.main-purchasing h4{
	color: #666;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.main-purchasing p{
	margin: 10px 0 10px 0;
}
.main-purchasing strong{
	display: block;
	color: #666;
	font-size: 15px;
	text-indent: 20px;
	text-align: justify;
	line-height: 1.4;
}
.main-purchasing h5{
	color: #666;
	font-size: 15px;
	font-weight: 700;
	display: block;
	text-transform: uppercase;
	padding-top: 5px;
}
/*--------------------------------------------------------------------------------- Privacy Policy ---------------------------------------------------------------------*/
.main-privacing{
	height: auto;
	margin-bottom: 60px;
}
.main-privacing p{
	text-align: justify;
	font-size: 16px;
	margin: 0 0 10px;
	color: #666;
	font-weight: 700;
}
.main-privacing .small{
	text-align: justify;
	font-size: 16px;
	margin: 0 0 10px;
	color: #666;
	font-weight: 700;
	text-indent: 15px;
}
.main-privacing ul{
	margin-bottom: 20px;
}
.main-privacing strong{
	text-indent: 25px;
	display: block;
	margin-bottom: 5px;
}
.main-privacing ul li{
	font-size: 14px;
	line-height: 1.4;
	list-style: disc;
	margin-left: 50px;
	text-align: justify;
}
/*---------------------------------------------------------------------------- Warranty and return ---------------------------------------------------------------------*/
.main-warranting{
	height: auto;
	margin-bottom: 60px;
}
.main-warranting h4{
	display: block;
	margin-bottom: 10px;
	color: #666;
	font-weight: 700;
	font-size: 17px;
	text-transform: uppercase;
}
.main-warranting p{
	text-align: justify;
	font-size: 16px;
	margin: 0 0 10px;
	color: #666;
	font-weight: 700;
	text-indent: 15px;
}
.main-warranting .small{
	text-align: justify;
	font-size: 16px;
	margin: 0 0 10px;
	color: #666;
	font-weight: 700;
	text-indent: 15px;
}
.main-warranting ul{
	margin-bottom: 20px;
}
.main-warranting strong{
	display: block;
	margin-bottom: 10px;
	font-size: 15px;
	text-align: justify;
	margin-left: 35px;
}
.main-warranting strong:last-child{
	margin-bottom: 20px !important;
}
.main-warranting ul li{
	font-size: 15px;
	line-height: 1.4;
	list-style: disc;
	margin-left: 50px;
	text-align: justify;
}
.step-warranting{
	font-weight: normal !important;
	font-size: 15px !important;
	text-indent: 35px !important;
}
/*------------------------------------------------------------------------- Address Shop -------------------------------------------------------------------------------*/
.main-address-shop{
	height: auto;
	margin-bottom: 60px;
}	

.reset-pass{
	height: 345px;
	width: 500px;
	margin: 50px auto;
	border: 1px solid darkcyan;
	padding: 30px 50px;
	background: #f8f8f8;
}

.reset-pass h2{
	text-align: center;
}
.reset-pass span{
	display: block;
	margin-bottom: 5px;
}
.reset-pass p{
	margin:40px 35px 35px 35px;
}
.reset-pass input[type="password"]{
	width: 328px;
	height: 35px;
}
.reset-pass input[type="password"]:focus{
	color: cadetblue;
}
.reset-pass input[type="submit"]{
	margin: 0 70px;
	padding: 5px;
	width: 185px;
	border: 1px solid beige;
}
.reset-pass input[type="submit"]:hover{
	color: darkblue;
	background: darkgray;
}

/* Login */
.errorss{
	background-color: #ffc;
	border-left: 6px solid #ffeb3b;
	padding: 10px;
	width: 570px;
	margin: 10px 0;
}
.errorss p{
	color: black;
}
.errorsss{
	background-color: #ffc;
	border-left: 6px solid #ffeb3b;
	padding: 10px;
	width: 577px;
	margin: 10px 0 0 10px;
}
.errorss p{
	color: black;
}
.login{
	padding:3% 0;
}
.left_login {
	width: 47.2%;
}
.right_login {
	display: block;
	float: left;
	margin: 1% 0 2% 4.6%;
}
.left_login:first-child {
	margin-left: 10px;
}
h4.title {
	color: #000;
	margin-bottom: 0.5em;
	font-size: 1.1em;
	line-height: 1.2;
	text-transform: uppercase;
	margin:30px 0 0 10px;
}
.reg_fb{
	margin: 15px 16px 15px 0;
	display: block;
	background: #4263A7;
	transition: all 0.5s ease-out;
	transition: all 0.3s ease-in-out;
}
.reg_fb img {
    background: #3B5998;
    padding: 10px;
    float: left;
}
.reg_fb i {
    color: #ffffff;
    padding: 12px 16px;
    display: inline-block;
    font-size: 1.3em;
    text-transform: capitalize;
}
.reg_fb:hover {
    background: #3B5998;
}
.right_login p {
	color:#999;
	font-size:0.8125em;
	line-height: 1.8em;
}
h5.sub_title{
	color:#000;
	font-size:0.8125em;
	text-transform:uppercase;
	margin: 3%;
}
.button1 {
	margin-top:3%;
}
.button1 input[type="submit"] {
	background: #555;
	color: #FFF;
	font-size: 0.8em;
	padding: 8px 20px;
	 border-radius: 3px; 
	border-bottom: 4px solid #1D1C1C;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
	float: left;
}
.button1 input[type="submit"]:hover{
	background:#444;
}
.comments-area input[type="text"] {
	padding: 10px 15px;
	width: 97%;
	color:#000;
	font-size: 12px;
	border:1px solid #f0f0f0;
	background:#fff;
	outline: none;
	display: block;
	font-family: 'Open Sans', sans-serif;
	margin-top: 2px;
	margin-bottom: 4px;
}
.comments-area input[type="text"]:hover, .comments-area input[type="password"]:hover{
	border:1px solid #DBDADA;
}
.comments-area input[type="password"] {
	padding: 10px 15px;
	width: 97%;
	color:#000;
	font-size: 0.8125em;
	border:1px solid #f0f0f0;
	background:#fff;
	outline: none;
	display: block;
	font-family: 'Open Sans', sans-serif;
	margin-top: 2px;
	margin-bottom: 4px;
}
.comments-area span {
	color: #A60000;
}
.comments-area input[type="submit"] {
	background: #555;
	color: #FFF;
	 font-size: 0.8em; 
	padding: 8px 20px;
	 border-radius: 3px; 
	border-bottom: 4px solid #1D1C1C;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
	float: right;
}
.comments-area h6{
	font-size: 13px;
	display: inline-block;
	margin-bottom: 3px;
	color: #999;
	margin-top: 15px;
}
.comments-area h6 a{
	color: #999;
}
.comments-area input[type="submit"]:hover{
	background:#444;
}
p#login-form-remember{
	float:left;
	margin-top: 10px;
}
p#login-form-remember label a {
	text-decoration: underline;
	color:#000;
}
p#login-form-remember label a:hover{
	text-decoration:none;
}
p#btn-sub{
	float: right;
	margin: 10px 16px 0 0;
}
.left-regis{
	display: block;
	float: left;
	margin: 1% 0 2% 1.6%;
}
.right-regis{
	width: 49.2%;
}
.left-regis:first-child {
	margin-left: 0;
}
.sky_form ul{
	height: 39px;
}
.sky_form ul li{
	display:inline-block;
	line-height: 1.5em;
}
.sky_form ul li input[type="radio"]{
	vertical-align: text-top;
}
.sky_form label{
	line-height: 55px;
}
.sky_form label i{
	color: #777777;
	font-size: 0.8125em;
	margin-right: 10px;
	vertical-align: middle;
	padding-left: 3px;
}
.register_account{
	padding:0 0 3% 0;
}
.register_account form{
	margin-left: 10px;
}
.register_account form input[type="text"], .register_account form select {
	font-size: 0.8125em;
	padding: 8px;
	outline: none;
	margin: 10px 0 3px 0;
	width: 95%;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #f0f0f0;
}
.register_account form input[type="password"], .register_account form select {
	font-size: 0.8125em;
	padding: 8px;
	outline: none;
	margin: 10px 0 3px 0;
	width: 95%;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #f0f0f0;
}
.register_account form input[type="text"]:hover, .register_account form select:hover{
	border:1px solid #DBDADA;
}
.register_account form input[type="password"]:hover, .register_account form select:hover{
	border:1px solid #DBDADA;
}
button.grey {
	background: #555;
	color: #FFF;
	 font-size: 0.8em; 
	padding: 8px 20px;
	 border-radius: 3px; 
	border-bottom: 4px solid #1D1C1C;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
	float:left;
}
button.grey:hover{
	background:#FFAF02;
	border-bottom: 4px solid #DF9A06;
}
p.terms {
	float: left;
	font-size: 12px;
	padding: 15px 0 0 15px;
}
p.terms a, p.note a {
	text-decoration: underline;
	color: #555;
}
p.terms a:hover, p.note a:hover{
	text-decoration:none;
}
.register_account form input[type="text"].code {
	width: 15%;
}
.register_account form input[type="text"].number {
	width:74.8%;
}
p.code {
	color:#999;
	font-size:0.8125em;
}

/*--forgot_pass--*/
.forgot{
	padding: 3% 0;
}
.forgot-content{
	width: 75%;
	height: 250px;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0px currentColor;
}
.forgot-content .healding{
	width: 100%;
	height: 50px;
	background: darkgray;
	color: currentColor;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	position: relative;
	text-transform: uppercase;
}
.forgot-content .healding .fa-user{
	margin-right: 5px;
}
.forgot-content .healding span{
	position: absolute;
	top: 15px;
	left: 20px;
}
.forgot-content .text p{
	margin: 10px 0 5px 20px;
}
.enter_email{
	margin: 35px 0 30px 20px;
}
.enter_email label{
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #383737;
}
.enter_email span{
	font-size: 14px;
	color: #d53333;
	display: block;
	margin: 6px 0 0 6px;
}
.form-control{
    width: 885px;
    height: 38px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin: 3px 0 0 5px;
}
.enter_email input[type="text"]:focus{
	border: 1px solid cornflowerblue;
}
.buttons-left{
	float: left;
}
.buttons-right{
	float: right;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    color: black;
	background-color: lightgray;
	border-color: transparent;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
	margin: 5px 0 0 6px;
}
.buttons-left a:hover{
	color: #fff;
	background: black;
}
.buttons-right .button {
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 5px;
	box-shadow: 0 3px #999;
	width: 76px;
	margin: 5px 24px 0 0px;
}
.buttons-right .button:hover {background-color: #3e8e41}
.buttons-right .button:active {
  background-color: #3e8e41;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}




