.header {
	height: var(--header-height);

	.header-wrap {
		border-bottom: 1px solid #eee;
	
		.header__top {
			/*Display and Box model */
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: var(--header-top);
		
			.header-hotline {
				/* Positioning */
				position: relative;
		
				.header-hotline__img {
					/* Positioning */
					position: absolute;
					left: 9px;
		
					/*Display and Box model */
					width: 18px;
					height: 18px;
				}
		
				.header-hotline__text {
					background: linear-gradient(to right, #f32170,
					#ff6b08, #cf23cf, #eedd44);
					-webkit-text-fill-color: transparent;
					-webkit-background-clip: text;
				}
			}
		
			.header-address {
				.header-address__link {
					color: #000;
		
					&:hover {
						color: #eb3e32;
						transition: 0.5s;
					}
				}
		
				.header-address__icon {
					margin-right: 3px;
				}
			}
		}
	}

	.header__bottom {
		/*Display and Box model */
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: var(--header-bottom);

		.header-logo {
			.header-logo__link{
				.header-logo__img {
					width: 105px;
					height: 70px;
				}
			}
		}

		.header-with-search {
			.header-search {
				/*Display and Box model */
				display: flex;
				justify-content: space-between;
				align-items: center;

				.header-search__wrap {

					.header-search__text {
						
						/* Display & Box Model */
						width: 700px;
						height: var(--search-text);
						border: none;
						padding: 25px;
						border-radius: 3px;
						outline: none;
	
						/* Color */
						background: #f8f8f8;
	
						&:focus {
							border: 1px solid gainsboro;
						}
					}
				}

				.header-search__btn {
					/* Display & Box Model */
					width: 65px;
					height: var(--search-btn);
					border: none;
					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;

					.header-search__img {
						/* Display & Box Model */
						height: 25px;
						width: 25px;
						margin-top: 4px;

						transition: 0.5s all;

						/* Other */
						cursor: pointer;
					}

					&:hover .header-search__img {
						transform: scale(1.2);
					}
				}
			}
		}

		.header-with-login {
			/*Display and Box model */
			display: flex;
			align-items: center;

			padding: 6px;
			border: 1px solid #ccc;
			border-radius: 5px;


			.header-login__logo {
				padding: 0 5px;
    			border-right: 1px solid #ccc;
				
				.header-login__img {
					width: 25px;
					height: 25px;
				}
			}

			.header-login__option {
				margin: 5px;

				.header-login__option-item {

					.header-login__option-link {
						color: var(--black-color);
						
						/* Text */
						font-size: 0.9rem;
	
						&:hover {
							color:#555;
						}
					}
				}
			}
		}
	}

	.menu-wrap {
		background-color: var(--black-color);

		.header__menu {
			/*Display and Box model */
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: var(--header-menu);

			.header__menu-list {
				/*Display and Box model */
				display: flex;

				.header__menu-item {
					.header__menu-link {
						color: var(--white-color);
						margin: 0 15px;
						display: block;
						line-height: var(--header-menu);

						.header__menu-span {
							padding: 8px 5px; 
						}

						&:hover .header__menu-span--color-page {
							background-color: #EF5F21;
						}

						&:hover .header__menu-span--color-product {
							background-color: #589D3E;
						}

						&:hover .header__menu-span--color1 {
							background-color: #D61F85;
						}

						&:hover .header__menu-span--color2 {
							background-color: #07A289;
						}

						&:hover .header__menu-span--color3 {
							background-color: #00677C;
						}

						&:hover .header__menu-span--color4 {
							background-color: #D5331D;
						}

						&:hover .header__menu-span--color5 {
							background-color: #B800FF;
						}

						&:hover .header__menu-span--color6 {
							background-color: #F89F1B;
						}

						&:hover .header__menu-span--color-new {
							background-color: #9CB43A;
						}
					}
				}
			}

			.header__menu-cart {

				position: relative;

				display: flex;
				align-items: center;
				padding: 13px;
				background-color: #cf1921;

				&:hover .header-cart {
					opacity: 1;
					visibility: visible;
					margin: 0;
					background-color: var(--white-color);
				}

				.header__menu-cart-item {

					padding: 0 10px;

					&:first-child {
						border-right: 1px solid maroon;
					}

					.header__menu-cart-text {
						color: var(--white-color);
					}
				}

				.header-cart {
					position: absolute;
					top: calc(100% + 14px);
					left: -20px;

					height: auto;
					width: 300px;
					opacity: 0;
					visibility: hidden;
					z-index: 1;
					transition: all 0.4s ease-in-out;
					box-shadow: 0px 2px 6px #aaa;

					&::after {
						content: "";
						position: absolute;
						left: 45%;
						top: -10px;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid #f0f0f0;
					}

					&::before {
						content: "";
						position: absolute;
						top: -15px;

						display: block;
						width: 100%;
						height: 16px;
					}

					.header-cart__list {

						padding: 15px;

						& h1 {
							
							text-align: center;
							text-transform: uppercase;
							margin-bottom: 15px;

							border-bottom: 1px dotted #ccc;
							
						}

						.header-cart__item {

							background: whitesmoke;

							.cart-swap {

								display: flex;
								align-items: center;
								margin-bottom: 10px;
		
								.cart-img {
									width: 55px;
									height: 55px;

									margin-left: 10px;
								}
		
								.cart-info {
									
									margin: 5px 12px;

									& p {
										font-size: 0.8rem;
										line-height: 1.2rem;
										color: #555555;
									}
								}
		
								.cart-action {
									.cart-action__link {
										.cart-action__img {
											width: 20px;
											height: 20px;
											margin-top: 5px;
										}
									}
								}
							}

							.header-cart__total {
								display: block;
								padding: 5px;
								text-align: end;
								font-weight: 700;
							}

							
						}

						.header-cart__wrap {
							display: flex;							
							justify-content: space-between;
							margin-top: 10px;


							.btn-cart {
								width: 120px;
								height: 30px;
								border: none;
								padding: 0;
								background: black;
	
								.btn-cart--effect {
									display: block;
									width:0px;
									height:30px;
									transition: width 0.4s;
									padding: 0 !important;
									color: #fff;
	
									&:hover {
										width: 120px;
										height:30px;
										background: gainsboro;
										color: #000;
									}
	
									& .btn-cart--effect-hover {
										width: 120px;
										display: block;
										padding-top:7px;
										font-weight:bold;
										text-transform: uppercase;
									}
								}
							}
	
	
							.btn-pay {
								width: 120px;
								height: 30px;
								border: none;
								padding: 0;
								margin-left: 7px;
	
								.btn-pay--effect {
									width: 0px;
									display: block;
									height: 30px;
									transition: width 0.4s;
									background:#F33;
									padding: 0;
	
									&:hover{
										width: 120px;
										height: 30px;
										background:#F00;
										color:#FFF;
									}
	
									& .btn-pay--effect-hover {
										width: 120px;
										display: block;
										padding-top: 7px;
										font-weight: bold;
										text-transform: uppercase;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}







